<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .six-sec-ease-in-out {
            -webkit-transition: width 60s ease-in-out;
            -moz-transition: width 60s ease-in-out;
            -ms-transition: width 60s ease-in-out;
            -o-transition: width 60s ease-in-out;
            transition: width 60s ease-in-out;
        }


    </style>
</head>
<body>
<div class="progress progress-striped active" style="height:50px;">
  <div class="progress-bar progress-bar-success six-sec-ease-in-out" role="progressbar" data-transitiongoal="75"></div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-progressbar.min.js"></script>
<script>
$(document).ready(function() {
  $('.progress .progress-bar').progressbar({refresh_speed: 500});

});
</script>
</body>
</html>