<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="40"></div>
</div>
<input type=text name=pan_no1 size=1 value="" maxlength=1 onKeyUp="setBlur(this,'pan_no2');">-
<input type=text name=pan_no2 id="pan_no2" size=1 value="" maxlength=1 onKeyUp="setBlur(this,'pan_no3');">-
<input type=text name=pan_no3 id="pan_no3" size=1 value="" maxlength=1 onKeyUp="setBlur(this,'pan_no4');">-
<input type=text name=pan_no4 id="pan_no4" size=1 value="" maxlength=1 >
<form action="#" method="post">
 <table summary="the first column contains the search criteria
  of the groom, the second column the search criteria of
  of the bride">
 <caption>Search for marriage records</caption>
 <tr>
   <th>Search criteria</th>
   <th>Groom</th>
   <th>Bride</th>
 </tr>
 <tr>
  <th>First name</th>
  <td><input type="text" size="30" value="" name="groomfirst"
      title="First name of the groom" tabindex="1"><input type="number" name="someid" /><input type="number" name="someid" /></td>
  <td><input type="text" size="30" value="" name="bridefirst"
       title="First name of the bride" tabindex="4"></td>
 </tr>
 <tr>
  <th>Last name</th>
  <td><input type="text" size="30" value="" name="groomlast"
      title="Last name of the groom" tabindex="2"></td>
  <td><input type="text" size="30" value="" name="bridelast"
      title="Last name of the bride" tabindex="5"></td>
 </tr>
 <tr>
  <th>Place of birth</th>
  <td><input type="text" size="30" value="" name="groombirth"
      title="Place of birth of the groom" tabindex="3"></td>
  <td><input type="text" size="30" value="" name="bridebirth"
      title="Place of birth of the bride" tabindex="6"></td>
 </tr>
</table>
</form>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-progressbar.min.js"></script>
<script>
function setBlur(obj,target2)
  {
     var target =document.getElementById(target2);
       if( obj.value.length ==obj.getAttribute('maxlength'))
           {
               target.focus();
           }
       return;
  }
$(document).ready(function() {
  $('.progress .progress-bar').progressbar();

});
</script>
</body>
</html>